<div class="grid">
    <div class="maps">
        <app-googlemaps></app-googlemaps>
    </div>
    <div class="info" *ngIf="(userRent$| ngrxPush)">
        <div *ngFor=" let station of (dataService.station$| ngrxPush)">
            <div *ngIf="station.id == getCurrentStationID()">
                <h2>{{station.name }}</h2>

            </div>

        </div>
        <div *ngFor="let bike of (dataService.bike$ |ngrxPush)" class="info">
            <div *ngIf="getCurrentStationID()== bike.station">
                <div (click)="ausleihen(bike)" class="card">
                    <h3> {{bike.name}}</h3>
                    <span *ngIf="bike.premium==1">Premium E-Bike</span>
                    {{ bike.batteryLevel}}
                    <span class="price"> {{pricingService.getPrice(bike)}}€/Minute</span>
                </div>
            </div>
        </div>
        <div class="back">
            <button (click)="goBack()">Back</button>
            <div style="padding: 50px 0"></div>
        </div>

    </div>

    <div *ngIf="!(userRent$ |ngrxPush)" class="info">
            <div class="card">
                <h3> Du hast bereits ein E-Bike ausgeliehen!</h3>
                <p>Gebe es zurück um ein neues E-Bike auszuleihen.</p>
        </div>
    </div>
</div>