<div class="grid">
    <div class="maps">
        <google-map height="600px" width="100%" [zoom]="zoom" [center]="center" [options]="options">

            <map-marker *ngFor="let station of (dataService.station$ | ngrxPush)"
              [position]="createLatLng(station.latitude,station.longitude)" [title]="station.name"
              [label]='getStationText(station)' (mapClick)="goToStation(station)" [icon]="getMarker(station)"> 
            </map-marker>
          </google-map>
    </div>
    <div class="info" *ngIf="(userRent$| ngrxPush)">
        <div *ngFor=" let station of (dataService.station$| ngrxPush)">
            <div *ngIf="station.id == getCurrentStationID()">
                <h2>{{station.name }}</h2>

            </div>

        </div>
        <div *ngFor="let bike of (dataService.bike$ |ngrxPush)" class="scroll">
            <div *ngIf="getCurrentStationID()== bike.station">
                <div (click)="ausleihen(bike)" class="card">
                    <h3> {{bike.name}}</h3>
                    <span *ngIf="bike.premium==1">Premium E-Bike</span> 
                    <span style="display: flex; align-items: center;">
                        <div style="flex:0.1;size: 2px;">
                          <div *ngIf="bike.batteryLevel<=35"><img src="../../../assets/lowbattery.png" style="width: 30px;align-content: center;"></div>
                          <div *ngIf="(bike.batteryLevel<=75 && bike.batteryLevel>35)"><img src="../../../assets/midbattery.png" style="width: 30px;"></div>
                          <div *ngIf="bike.batteryLevel>75"><img src="../../../assets/fulbattery.png" style="width: 30px;"></div>
                        </div>
                        <div style="flex: 1;">
                          <div class="battery">{{bike.batteryLevel}}% </div><div class="price"> {{pricingService.getPrice(bike)}}€/Minute</div>
                        </div>
                      </span>
                      
                    
                </div>
            </div>
        </div>
        <div class="back">
            <button (click)="goBack()">Back</button>
            <div style="padding: 50px 0"></div>
        </div>

    </div>

    <div *ngIf="!(userRent$ |ngrxPush)" class="info">
            <div class="card">
                <h3> Du hast bereits ein E-Bike ausgeliehen!</h3>
                <p>Gebe es zurück um ein neues E-Bike auszuleihen.</p>
        </div>
    </div>
</div>