.maps{
  margin: 20px;
grid-column: 1;
top: 0;
height: 100vh;
box-sizing: border-box;
}

h2{
  color: #fff;
}

.grid{
    display: grid;
    grid-column: 50%,50%;
    background-image: url('../../../assets/landingpage1.png');
    background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
}

.info{
    grid-column: 2;
    cursor: -webkit-grab;
    height: 800px;
    overflow-y: scroll;
   
}
.bike{
    padding-top: 5px;
    padding-bottom: 5px;
}
.back{
    padding-top: 10px;
    padding-left: 85%;
}
.title{
  padding-left: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  height: 90px;

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  .price {
    font-size: 24px;
    color: #f60;
    margin-top: auto;
    align-self: flex-end;
    float:right;
  }

  .battery{
    font-size: 24px;
    color: #f60;
    margin-top: auto;
    align-self: flex-start;
    float:left;
  }

  &:hover {
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
  }
}