.content {
    height:auto;
    background:white;
    width:900px;
    margin:25px auto;
    text-align:justify;
    font-size: 18px;
  }

  h3{
    font-size:18px;
    font-weight: 700;
    color: #d3a124 !important;
  }