<div class="checkout">
    <h2>Checkout</h2>
    <div class="checkout-card">
      <div class="checkout-card-image">
        <img src="./assets/bike.jpeg" alt="Bike Image">
      </div>
      <div class="checkout-card-details">
        <h3>E-Bike-ID: {{getCurrentBikeID() }}
        </h3>
        <p>Standort: {{getStandort()}}</p>
        <div class="checkout-card-price">
          <span>Price: </span><span> {{pricingService.getPriceById(getCurrentBikeID())}}€/Min</span>
          
        </div>
        <form [formGroup]="aFormGroup">
          <ngx-recaptcha2 #captchaElem
            siteKey=""
            [useGlobalDomain]="false"
            (success)="robot=true"
            formControlName="recaptcha">
          </ngx-recaptcha2>
        </form>
        <div *ngIf="robot" class="checkout-card-button">


            <span><button (click)="ausleihen()">Kostenpflichtig Ausleihen</button></span>
            
            <span class="back"><button (click)="goBack()" class="back">Back</button></span>
        </div>
      </div>
    </div>
 
  </div>
