<div class="container">
  <img src="assets/landingpage.png" alt="landingpage" style="width:100%;">
  <div class="centered">Herzlich Willkommen bei E-Bike Rent Mannheim!
  </div>
  <div class="bottom">Deinen zuverlässigem Partner, um in Mannheim von A nach B zu kommen!</div>
  <div class="button"><a routerLink="/ausleihen" routerLinkActive="active" ariaCurrentWhenActive="page"> Rent a
      E-Bike</a></div>
</div>

<div class="content">
  Unser Angebot umfasst zwei Arten von E-Bikes, die auf die Wünsche unserer Kunden abgestimmt sind.Zur Auswahl steht zum
  einen die Standardvariante, welche sich perfekt für kurze Strecken eignet. Als Alternative gibt es das Premiummodell,
  welches sich für einen gemütliche Auflug durch die Stadt, aber auch für eine anspruchsvollere Tour durch die
  umliegende Natur anbietet.
  <div style="padding: 10px 0">

  </div>

  <div class="content">
    Die E-Bikes sind mit modernster Technologie ausgestattet und werden regelmäßig gewartet, um höchste Sicherheit und Zuverlässigkeit zu gewährleisten.
    <div style="padding: 10px 0">

  </div>

  <div class="content">
    Unser Ausleihsystem ist einfach und schnell zu bedienen. Wählen Sie hierfür einnfach die passende Station aus und suchen sich eines der Bikes aus. Das Bike wird minutengenau agerechnet. Auf diese Weise zahlen Sie nur, was sie auch wirklich verbrauchen! 
    <div style="padding: 10px 0">

  </div>

  <div class="content">
    <h3>Entdecken Sie die Schönheit unserer Stadt und Umgebung auf umweltfreundliche und komfortable Weise – mit
      EBikeRent Mannheim!</h3>
    <div style="padding: 50px 0">

  </div>