<section id="slide-1">
  <div class="cover-1"></div>
  <div class="cover-text">
    <div style="margin-top: 180px;"></div>
    <h1>Herzlich Willkommen bei E-Bike Rent Mannheim!</h1>
    <h4>Deinen zuverlässigem Partner, um in Mannheim von A nach B zu kommen!</h4>

    <div class="button"><a routerLink="/ausleihen" routerLinkActive="active" ariaCurrentWhenActive="page"> Rent a
      E-Bike</a>
  </div>
  <div style="margin-top: 340px;">
    <div class="row">
      <div class="column" style="background-color:#d3a124;">
        <img src="assets/24:7.png" alt="24/7"
          style="width: 50%;margin-left: auto; margin-right: auto; display: block;filter: contrast(100%); ">
        <h2>für dich verfügbar</h2>
      </div>
      <div class="column" style="background-color:#d3a124;">
        <img src="assets/StationmitFahrrad.png" alt="StationmitFahrrad"
          style="width: 50%;margin-left: 22%; margin-right: auto;  display: block; ">
        <h2>60 Bikes & 7 Stationen</h2>
      </div>
      <div class="column" style="background-color:#d3a124;">
        <img src="assets/Zielgruppe.png" alt="Zielgruppe"
          style="width: 55%;margin-left: 22%; margin-right: auto;  display: block; ">
        <h2>Ideal für Studenten, Schüler & Touristen</h2>
      </div>
    </div>
    
  </div>
  <div style="margin-top: 180px;"></div>

  
    <p>Unser Angebot umfasst zwei Arten von E-Bikes, die auf die Wünsche unserer Kunden abgestimmt sind. Zur Auswahl
      steht zum
      einen die Standardvariante, welche sich perfekt für kurze Strecken eignet. Als Alternative gibt es das
      Premiummodell,
      welches sich für einen gemütliche Ausflug durch die Stadt, aber auch für eine anspruchsvollere Tour durch die
      umliegende Natur anbietet.</p>
    
    <p>Die E-Bikes sind mit modernster Technologie ausgestattet und werden regelmäßig gewartet, um höchste Sicherheit
      und Zuverlässigkeit zu gewährleisten.
    </p>

    <p> Unser Ausleihsystem ist einfach und schnell zu bedienen. Wähle hierfür einfach die passende Station aus und
      suchen Dir eines der Bikes aus.
      <br>Das Bike wird minutengenau agerechnet. Auf diese Weise zahlst Du nur, was du auch wirklich gefahren bist!
    </p>

    <h3>Entdecke die Schönheit unserer Stadt und Umgebung auf umweltfreundliche und komfortable Weise – mit
      E-Bike Rent Mannheim!</h3>
      <br>
      <div style="margin:auto"></div>
 
</div>
</section>
<div style="padding-top: 40px "></div>
<div style="padding: auto;">