
   <!-- <div class="header">
    <h2 class="center">Herzlich Willkommen bei E-Bike Rent Mannheim!</h2>
    <p>Deinen zuverlässigem Partner, um in Mannheim von A nach B zu kommen!</p>
    <img src="assets/3E9F87ED-4EF4-4339-805D-7AB2E93A8A3C.JPEG" alt="E-Bike" max-width=100% height="auto">
   </div> -->

   <div class="container">
    <img src="assets/landingpage.png" alt="landingpage" style ="width:100%;">
    <div class="centered">Herzlich Willkommen bei E-Bike Rent Mannheim!
    </div>
    <div class="bottom">Deinen zuverlässigem Partner, um in Mannheim von A nach B zu kommen!</div>
    <div class="button"><a routerLink="/ausleihen" routerLinkActive="active" ariaCurrentWhenActive="page"> Rent a E-Bike</a></div>
  </div>

  <p>Unser Angebot umfasst zwei Arten von E-Bikes, die auf die Wünsche unserer Kunden abgestimmt sind. </p>


 


