<span *ngFor="let station of (dataService.station$ | ngrxPush)">
    <span *ngIf="station.id.toString()=== getStationID()">
        <div class="maps">
            <google-map height="400px" width="100%" [zoom]="15"
                [center]="createLatLng(station.latitude, station.longitude)" [options]="options">Í
                <map-marker [position]="createLatLng(station.latitude,station.longitude)" [title]="station.name"
                    [icon]="markerIcon">
                </map-marker>

            </google-map>
        </div>
        <span *ngFor=" let bike of (dataService.bike$ | ngrxPush)">
            <span *ngIf=" bike.id== +getBikeID()">
                <div class="confirmation">
            <h2>Thank you for renting with us!</h2>
            <p>Die Rückgabe deines E-Bikes an der Station {{station.name}} war erfolgreich. Du wirst die Rechnung in kürze via E-Mail erhallten. </p>
            <div class="confirmation-details">
                <div class="confirmation-detail">
                    <span class="confirmation-detail-label">E-Bike Modell:</span>
                    <span *ngIf="bike.premium == 0" class="confirmation-detail-value"> Standard E-Bike</span>
                    <span *ngIf="bike.premium == 1" class="confirmation-detail-value">Premium E-Bike</span>
                </div>
                <div class="confirmation-detail">
                    <span class="confirmation-detail-label">Rückgabeort:</span>
                    <span class="confirmation-detail-value"> {{station.name}}</span>
                </div>
                <div class="confirmation-detail">
                    <span class="confirmation-detail-label">Gesamtpreis:</span>
                    <span class="confirmation-detail-value">$250</span>
                </div>
            </div>
            <div style="padding: 50px 0"></div>
        </div>
        </span>
    </span>
    </span>
</span>