<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img src="assets/logo.png" class="image">
  <div class="title">E-Bike Rent Mannheim</div>
  <div class="spacer"></div>
  <nav>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Home</a>
    <a routerLink="/rent" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page"> Rent a E-Bike</a>
    <a *ngIf="(auth.isAuthenticated$ | ngrxPush)" routerLink="/return" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      ariaCurrentWhenActive="page">Return E-Bike</a>
    <a routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">About Us</a>
  </nav>
  <app-auth-button class="auth-button"></app-auth-button>

</div>
<div class="margin">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <p>EBike Rent Mannheim, Adresse: Coblitzallee 1-9, 68163 Mannheim, Telefon: 0621/ 41050, E-Mail: ebikerent-mannheim@gmail.com<br>
  </p>

  <p><br>© 2023 EBikeRent. Alle Rechte vorbehalten.</p>
</div>