<section id="slide-1">
  <div class="cover-1"></div>
  <div class="cover-text">

    <google-map height="600px" width=null [zoom]="zoom" [center]="center" [options]="options">

      <map-marker *ngFor="let station of (dataService.station$ | ngrxPush)"
        [position]="createLatLng(station.latitude,station.longitude)" [title]="station.name"
        [label]='getStationText(station)' (mapClick)="goToStation(station)" [icon]="markerIcon"> 
      </map-marker>
    </google-map>


    <h3>
      Leihe Dein EBike bei E-Bike Rent Mannheim - einfach, schnell und bequem!
    </h3>
    Wähle einfach die Station aus, an das EBike ausliehen werden soll. Klicke
    anschließend auf das Fahrrad und bestätige die Buchung.
    <br>Ab diesem Zeitpunkt wird die Zeit gezählt.

  </div>
</section>