

  h3{
    font-size:18px;
    font-weight: 700;
    color: #d3a124 !important;
  }


#slide-1{
  position:relative;
}

.cover-1 {
background-image: url('../../../../assets/landingpage1.png');
background-repeat: no-repeat;
background-attachment:fixed;
background-size: cover;
height: 120vh;
}


.cover-text {
  font-size: 18px;
  color: #FFFFFF;
  text-shadow: 0 0 30px #000000;
  position: absolute;
  text-align:  justify;
  left: 10%;
  right: 10%;
  top: 9%;
}