/* You can add global styles to this file, and also import other style files */
button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #f6c242;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: darken(#f6c242, 10%);
  }
}

a {
  color: #fff;
  padding: 15px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  &:link{
    color: #fff;
  }

  &:hover {
    color: darken(#f6c242, 10%);
  }

  &.active {
    color: #f6c242;
  }
}
