<div class="return-bike-container">
    <span *ngIf="selectedStation==null">
        <google-map height="400px" width="800px" [zoom]="defaultZoom" [center]="createLatLng(49.488160, 8.465841)" [options]="options">
            <map-marker *ngFor="let station of (dataService.station$ | ngrxPush)"
                    [position]="createLatLng(station.latitude,station.longitude)" [title]="station.name"
                    [icon]="getMarker(station)">
            </map-marker> 
        </google-map>
    </span>
    <span *ngFor="let station of (dataService.station$ | async)">
        <span  *ngIf="(station.id == selectedStation)&& selectedStation !== null">
            {{checkStation(station)}}
             <google-map height="400px" width="800px" [zoom]="zoom" [center]="createLatLng(station.latitude,station.longitude)" [options]="options">
                <map-marker 
                    [position]="createLatLng(station.latitude,station.longitude)" [title]="station.name"
                    [icon]="getMarker(station)">
                </map-marker> 
             </google-map>
        </span>
    </span>
    <span *ngrxLet="dataService.user$ as user" >
    <h1 class="title">Return Bike</h1>
    <form class="form-container">
        <div class="form-group">
            <label for="station-dropdown">Select Return Station for E-Bike {{user.bike}} :</label>
            <select id="station-dropdown" [(ngModel)]="selectedStation" name="station">
                <option *ngFor="let station of stations" [value]="station.id">{{ station.name }}</option>
            </select>
        </div>
        <span *ngIf="stationFull" class="error"> Diese Station ist leider Voll. Bitte wähle eine andere Station aus um dein E-Bike zurückzugeben! </span>
        <span *ngIf="user.bike==undefined" class="error">Bevor du ein E-Bike zurückgeben kannst, leihe bitte zuerst ein E-Bike aus! </span>
    </form>
    <button *ngIf="!stationFull&&!(user.bike==undefined)" class="return-button" (click)="returnBike(selectedStation, user.bike)">Return E-Bike</button>
    <button *ngIf="user.bike==undefined" class="return-button" (click)="router.navigate(['rent'],{})">Rent E-Bike</button>
</span>
<div style="padding: 50px 0"></div>
</div>