<div class="return-bike-container">
    <span *ngFor="let station of (dataService.station$ | async)">
        <span  *ngIf="station.name == selectedStation">
    <google-map height="400px" width="800px" [zoom]="zoom" [center]="createLatLng(station.latitude,station.longitude)" [options]="options">
            <map-marker 
            [position]="createLatLng(station.latitude,station.longitude)" [title]="station.name"
      [icon]="markerIcon"></map-marker> 
    </google-map>
        </span>
</span>
    <h1 class="title">Return Bike</h1>
    <form class="form-container">
        <div class="form-group">
            <!-- <label for="station-dropdown">Select Return Station:</label> -->
            <select id="station-dropdown" [(ngModel)]="selectedStation" name="station">
                <option *ngFor="let station of stations" [value]="station.name">{{ station.name }}</option>
            </select>
        </div>
    </form>
    <button class="return-button" (click)="returnBike(selectedStation)">Return Bike</button>
</div>